<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" /> 
</h:head>
<h:body>
  <h:form>
    <h:panelGroup id="orderInfo">
     <h:panelGroup rendered="#{mainView.order != null}">
      <h3>Zamówienie</h3>
      Status: #{mainView.order.state}<br />
      Sposób płatności: #{mainView.order.paymentWay}<br/>
      Przejścia:      
      <ui:repeat var="transition" value="#{mainView.availableTransitions}">
        <h:commandButton value="#{transition}" action="#{mainView.performTransition(transition)}" />
        #{transition}
      </ui:repeat>
     </h:panelGroup> 
    </h:panelGroup>

    <h3>Nowe Zamówienie</h3>    
    <h:selectOneMenu id="paymentWay" value="#{mainView.paymentWay}">
      <f:selectItems value="#{mainView.availablePaymentWays}" />
    </h:selectOneMenu>
    <h:commandButton action="#{mainView.createOrder()}" value="Utwórz zamówienie">
      <f:ajax execute="paymentWay" render="orderInfo" />
    </h:commandButton>
  </h:form>
</h:body>
</html>